<!DOCTYPE html>
<html lang ="en" xmlns:th = "http://www.thymeleaf.org" th:replace = "base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class = "banner d-flex justify-content-center align-items-center">
  <div class = "text-center">
    <h1 class = "font-weight-bold">Contact Manager</h1>
    <p>
      Start Collecting your Contact in very Smarter Way .We provide
      very efficient and very smarter way of Handling Contacts
    </p>
    <button class = "btn btn-pramary bg-primary btn-lg text-white ">Get Start</button>
  </div>
</section>

</body>
</html>